:root{
    --cor-fundo:#7803e6;
    --cor-principal:#5c065f;
    --cor-secundaria:#000000;
    --cor-destaque:#90099c;
    --cor-texto:#161414ea;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}